.container
    position relative
    padding 32px
    background-color color-blue-300
    border-radius 10px
    box-shadow shadow

    &--header
        padding 40px
        border-top-right-radius 100px

    &--main
        padding-bottom 52px

@media (min-width: 992px)
    .container
        padding 40px

        &--main
            align-self end
