color-blue-100 = #0c122c
color-blue-200 = #0f1b3d
color-blue-300 = #1e2d69
color-purple = #dbd9ff
color-gradient-orange = #ffa197
color-gradient-pink = #ff4a95

shadow = 0 75px 100px -30px rgba(0, 0, 0, .25)
